.avatar_selector {
    display: inline-block;
    margin-bottom: 15px;
    position: relative;

    .button {
        display: inline-block;
        vertical-align: middle;
    }

    .button--toggle {
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}
