.player_overview {
        position: relative;
        margin: 7px auto;

        @include tablet {
            display: flex;
            justify-content: center;
            margin: 0 auto;
        }

        @include desktop {
            margin: 20px auto;
        }

    li {
        display: inline-block;
        vertical-align: top;
        margin: 0px 5px 10px 5px;

        @include tablet {
            margin: 10px;
        }

        &:first-of-type {
            margin-left: 0;
        }

        &:last-of-type {
            margin-right: 0;
        }

    }

    .player__avatar {
        background-color: white;
        border-radius: 50%;
        border: none;
        @include player-preview-size;

        @include tablet {
            @include player-preview-size(80px);
        }

        &:hover {
            cursor: pointer;
        }
    }

    .player + .player {
        margin-left: 20px;
    }

    .placeholder {
        border-radius: 50%;
        background-color: white;
        border: none;
        opacity: 0.2;
        @include player-preview-size;


        @include tablet {
            @include player-preview-size(80px);
        }
    }
}

.player_overview__item {
    p {
        display: none;

        @include verticalTablet {
            display: inline-block;
            font-size: 0.9rem;
            line-height: 1.4em;
            margin: 7px 0;
            max-width: 80px;
            width: auto;
        }
    }
}

.player_overview__item--active .player__avatar {
    border: 4px solid $yellow;
    @include player-preview-size(42px);

    @include tablet {
        border: 7px solid $yellow;
        @include player-preview-size(66px);
    }

}

.button__circular {
    @include player-preview-size;
    border: none;
    background-color: rgba(255, 255, 255, 1);
    color: $darker-base;
    border-radius: 50%;
    font-size: 1.2rem;
    transition: all 300ms;

    @include tablet {
        font-size: 2.5rem;
        @include player-preview-size(80px);
    }

    &:hover {
        background-color: rgba(255, 255, 255, .5);
    }
}

.button__circular--edit {
    background-color: rgba(255, 255, 255, .7);
    color: $darker-base;
}
