.layout-turn-view {
    .content__wrap {
        img.desktop_slab {
            display: block;
        }
        img.mobile_slab {
            display: none;
        }
    }

    .button_pair {
        width: 100%;

        button:first-of-type {
            width: 250px;

            svg {
                height: 40px;
            }
        }

        button:nth-of-type(2) {
            @include button-colorScheme($base-gray, 15%);
            font-size: 1.6rem;
            height: 48px;
            width: 48px;
            margin-left: 5px;

            i {
                line-height: 42px;
            }
        }

    }

    @include tablet {
        .content__wrap {
            height: 500px;
            width: 420px;
        }
        .button__wrap .button:first-child {
            margin: 0;
        }
    }
}
