$red: #D0011B;
$darker-red: darken($red, 10%);
$lighter-red: lighten($red, 10%);

$green: #417505;
$darker-green: darken($green, 10%);
$lighter-green: lighten($green, 10%);

$yellow: #FFD32C;
$darker-yellow: darken($yellow, 10%);
$ligher-yellow: lighten($yellow, 10%);

$light-gray: #BABABA;
$base-gray:#969696;
$shadow-gray: #777777;
$medium-gray: #505050;

$base-color: #333333;
$darker-base: darken($base-color, 10%); 
