* {
    padding: 0;
    margin: 0;
    outline: none;
}

html {
    font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 1rem;
}

li {
    display: block;
    margin: 10px;
}

.App {
    max-width: 900px;
    margin: 50px auto;
    padding: 0 50px;
    text-align: center;
}

.characterSelector {
    display: flex;
    align-items: center;


    button {
        flex-grow: 1;
    }

    .character {
        flex-grow: 2;
        // height: 200px;
        margin: 20px;
        max-width: 300px;

        img {
            width: 100%;
        }
    }

}

.add-btn {
    height: 100px;
    width: 100px;
    background-color: white;
    color: #333;
    border-radius: 50%;
    border: 1px solid #333;
}

.playerOverview {
    display: flex;
    margin: 30px 0;
}

.player + .player {
    margin-left: 20px;
}

.placeholder {
    border-radius: 50%;
    background-color: #aaa;
    height: 100px;
    width: 100px;
}
