* {
    margin: 0;
    padding: 0;
    outline: none;
}

h1, h2, h3,h4, h5, h6 {
    font-weight: normal;
}

p {
    display: inline-block;
    width: 240px;
    @include tablet {
        width: 520px;
    }
}

ul {
    list-style: none;
}

html {
    font-size: 16px;
}

body {
    @include helsinki();
    background-image: url('#{$image-path}background-blurred-v2.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    color: white;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-width: $min-width;

    @include desktop {
        height: 100vh;
    }
}

#container {
    padding: 10px;
    text-align: center;
    max-width: 100vw;
    height: 100vh;
    position: relative;
    box-sizing: border-box;

    @include tablet {
        padding-top: 20px;
    }
}

.logo {
    background-image: url('#{$image-path}adventure_time_logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 103px;
    width: 260px;
}

h1 {
    @include bahiana(2.5rem);
    display: block;

    .brand-name {
        display: block;
        font-size: 1.875rem;
    }
}

@include tablet {
    .logo {
        height: 277px;
        width: 700px;
    }

    h1 {
        font-size: 6.25rem;
        line-height: 0.8em;
        margin-top: 20px;

        .brand-name {
            font-size: 3.75rem;
        }
    }
}

.text_accent {
    color: $medium-gray;
}
